.TypingGameInputText {
    text-align: center;
}

.TypingGameInputText-inputText {
    font-size: 40px;
    border: none;
    border-bottom: 3px solid #037a8f;
}

.TypingGameInputText-inputText:focus {
    outline: none;
}
