.TypingGame {
    position: relative;
    display: flex;
    flex-direction: column;
}

.TypingGame-title {
    font-family: 'Encode Sans', sans-serif;
    color: #ebae34;
}

.TypingGame-settingContainer {
    position: absolute;
    right: 0;
    top: 0;
}

.TypingGame-instructionContainer {
    text-align: center;
}

.TypingGame-imgContainer {
    text-align: center;
}

.TypingGame-textContainer {
}

.TypingGame-gameEndContainer {
}

.TypingGame-instructionContainer,
.TypingGame-imgContainer,
.TypingGame-inputTextContainer,
.TypingGame-gameEndContainer {
    margin-bottom: 32px;
}
