.textColor--yellow {
    color: #ffe400;
}

.textColor--red {
    color: #c4041a;
}

.textColor--purple {
    color: #6c19ff;
}

.textColor--darkPurple {
    color: #4609b3;
}

.textColor--pink {
    color: #ff0079;
}

.textColor--darkpink {
    color: #b30056;
}

.textColor--blue {
    color: #0bbad6;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c2c2c2;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c2c2c2;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c2c2c2;
}
