.app-container {
    margin: 0 auto;
    max-width: 960px;
    padding: 24px 48px;
}

.textColor--red {
    color: #c4041a;
}

.textColor--purple {
    color: #4409db;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c2c2c2;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c2c2c2;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c2c2c2;
}

.app-menu {
    display: flex;
    justify-content: space-evenly;
}

.app-link {
    border: 5px solid #4409db;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}

header {
    border: 1px solid red;
}
main {
    border: 1px solid green;
}
